@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: #090909;
  color: white;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

::selection {
  background: #7e22ce;
  color: white;
}
